html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: orangered solid 3px;
}

.header-left h1 {
    padding: 0 25px;
    color: white;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    transition: all 0.5s;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    margin: 0 10px;
    color: white;
    display: inline-block;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper {
    padding: 180px 0 600px 0;
    background-image: url('./assets/building.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

.container .top-wrapper {
    width: 1170px;
    margin: 0 auto;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

footer {
    margin: 0 auto;
    background-color:rgb(34, 49, 52);
    color: #fff;
    width: 100%;
    height: 550px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
}

footer ul {
    list-style: none;
}

.logo h1 {
    font-size: 18px;
    font-weight: bold;
    margin:0px;
}

footer input {
    margin: 5px 15px 5px 5px;
}

.footerdiv {
    width:30%;
    float: left;
    padding: 0px;
    margin-left: 40px;
}

.lefts {
    margin-top: 0px;
}

.footerdiv i {
    width: 20px;
    color: white;
    text-decoration: none;
}

.footerdiv input {
    margin-bottom: 20px;
}

.navitem a {
    border-top: 1px solid #fff;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    width: 212px;
}

.navitem a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-top: none;
    padding-left: 10px;
    transition: 0.5s;
}

.navitem {
    width: 212px;
    border-bottom: 1px solid #fff;
    padding: 0px;
    margin-bottom: 15px;
}

.navitem2 {
    padding-bottom: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.social-links li {
    float: left;
    color: white;
    padding: 2px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-align: center;
    display: block;
}

.twitter i:hover {
    background-color: rgb(8, 160, 233);
}

.facebook i:hover {
    background-color: rgb(59, 89, 152);
}

.linkedin i:hover {
    background-color: rgb(0, 119, 181);
}

.youtube i:hover {
    background-color: rgb(196, 48, 43);
}

.instagram i:hover {
    background-color: rgb(129, 52, 175);
}

.cogs i:hover {
    background-color: #696969;
}

.footer-contacts i {
    margin-right: 5px;
    padding-bottom: 15px;
}

@media(max-width:1024px) {
    footer {
        height: 550px;
    }
    .footerdiv {
        margin-left: 32px;
    }
}

@media(max-width:670px) {
    footer {
        height: 550px;
    }
    .footerdiv {
        margin-left: 16px;
    }
}

.main-content h1 {
    text-align: center;
    background-color: lightsalmon;
    color: black;
    opacity: 0.7;
}
.row img {
    width: 550px;
    object-fit: cover;
    display: inline;
}
.section-title h3 {
    font-size: 26px;
    position: relative;
    display: inline;
}
.section-subtitle {
    font-size: 16px;
    line-height: 30px;
    size: 95px;
    flex-wrap: wrap;
    width: 400px;

}

.section-education {
  position: absolute;
  opacity: 0.8;
  right: 200px;
  margin-right: 40px;
  margin-top: 30px;
  border: 5px solid wheat;
  float: right;
  text-align: justify;
  padding: 10px;
  top: 870px;
  background-color: lightcoral;

} 
.section-research {
    position: absolute;
    opacity: 0.8;
    right: 200px;
    margin-right: 40px;
    top: 1250px;
    margin-top: 30px;
    border: 5px solid wheat;
    float: right;
    text-align: justify;
    padding: 10px;
    background-color: lightcoral;
  } 
.content {
    background-color: whitesmoke;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#boxes{
    margin-top: 60px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 15px;
}
#boxes .continue-lendo {
  color:#000;
  transition: all 0.5s ease;
  text-decoration: none;
  font-weight: 700;
}

#boxes .continue-lendo:hover {
  margin-left:10px;
}

#boxes .box img{
    width: 100px;
}

.bottom-footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
}